{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block main %}
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
		    <div class="center">
			    <button class="btn-submit bg-blue btn waves-effect waves-light center">
				    {{ 'registration.submit'|trans }}
				    <i class="material-icons right">send</i>
			    </button>
		    </div>
		    <div class="right">
			    <a href="{{ app.request.getBaseUrl() }}/login">
				    Déjà inscrit ?
			    </a>
		    </div>
        {{ form_end(form) }}
    </div>
{% endblock %}