{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block main %}
	<div class="container">
        {% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
		
		<h1>Connexion</h1>

		<form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

			<label for="username">{{ 'security.login.username'|trans }}</label>
			<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

			<label for="password">{{ 'security.login.password'|trans }}</label>
			<input type="password" id="password" name="_password" required="required" />

			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

			<div class="center">
				<button class="btn-submit bg-blue btn waves-effect waves-light center" id="_submit" name="_submit">
					{{ 'security.login.submit'|trans }}
					<i class="material-icons right">send</i>
				</button>
			</div>
			<div class="right">
				<a href="{{ app.request.getBaseUrl() }}/register">
					Pas encore inscrit ?
				</a>
			</div>
		</form>
	</div>
{% endblock %}