{% extends 'TicketBundle:Default:layout.html.twig' %}

{% block main %}
	<h1>Créer un ticket</h1>
	{{ form_start(form) }}
    	{{ form_row(form.subject) }}
		{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
    		{{ form_row(form.user, { 'attr' : { 'class' : 'select-wrapper'}} ) }}
		{% else %}
			<div class="hidden-row">
                {{ form_row(form.user, {'label' : false}) }}
			</div>
        {% endif %}
		<div class="center">
			<button class="btn-submit bg-blue btn waves-effect waves-light center">
				Ajouter le ticket
				<i class="material-icons right">send</i>
			</button>
		</div>
	{{ form_end(form) }}
{% endblock %}
