{% extends 'TicketBundle:Default:layout.html.twig' %}

{% block main %}
    <div>
        <h4>Mes tickets</h4>
    </div>
    {% if tickets is not null and tickets is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Créé à</th>
                    <th>Sujet</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                        <th>Auteur</th>
                    {% endif %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>
                            <a href="{{ path('ticket_show', { 'id': ticket.id }) }}">
                                {{ ticket.id }}
                            </a>
                        </td>
                        <td>
                            {% if ticket.createdAt %}
                                {{ ticket.createdAt|date('Y-m-d H:i:s') }}
                            {% endif %}
                        </td>
                        <td>{{ ticket.subject }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                            <td>{{ ticket.user.username }}</td>
                        {% endif %}
                        <td>
                            <ul class="container-icons">
                                <li>
                                    <a href="{{ path('ticket_show', { 'id': ticket.id }) }}">
                                        <i class="material-icons icon color-black">remove_red_eye</i>
                                    </a>
                                </li>
                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('ticket_update', { 'id': ticket.id }) }}">
                                            <i class="material-icons icon color-orange">edit</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('ticket_delete', { 'id': ticket.id }) }}">
                                            <i class="material-icons icon color-red">delete</i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
