{% extends 'TicketBundle:Default:layout.html.twig' %}

{% block main %}
    <h1>Tickets list</h1>
    <a href="{{ path('ticket_create') }}">
        <button>Créer un ticket</button>
    </a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Created at</th>
                <th>Subject</th>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                    <th>User</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if tickets is not null and tickets is not empty %}
                {% for ticket in tickets %}
                    <tr>
                        <td>
                            <a href="{{ path('ticket_show', { 'id': ticket.id }) }}">
                                {{ ticket.id }}
                            </a>
                        </td>
                        <td>
                            {% if ticket.createdAt %}
                                {{ ticket.createdAt|date('Y-m-d H:i:s') }}
                            {% endif %}
                        </td>
                        <td>{{ ticket.subject }}</td>
	                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                            <td>{{ ticket.user.username }}</td>
                        {% endif %}
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('ticket_show', { 'id': ticket.id }) }}">
                                        show
                                    </a>
                                </li>
                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('ticket_update', { 'id': ticket.id }) }}">
                                            update
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('ticket_delete', { 'id': ticket.id }) }}">
                                            delete
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>There is no ticket to display. Please create one!</p>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
