{% extends 'TicketBundle:Default:layout.html.twig' %}

{% block main %}
    <h1>Ticket {{ ticket.subject }}</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>
                    {% if ticket.createdAt %}
                        {{ ticket.createdAt|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ ticket.subject }}</td>
            </tr>
        </tbody>
    </table>
	
	<h1>Messages</h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Created at</th>
				<th>Subject</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% if messages is not null and messages is not empty %}
				{% for message in messages %}
					<tr>
						<td>{{ message.id }}</td>
						<td>
							{% if message.createdAt %}
								{{ message.createdAt|date('Y-m-d H:i:s') }}
							{% endif %}
						</td>
						<td>{{ message.content }}</td>
						<td>
							<ul>
								<li>
									<a href="{{ path('message_show', { 'id': message.id }) }}">
										show
									</a>
								</li>
								{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
									<li>
										<a href="{{ path('message_delete', { 'id': message.id }) }}">
											delete
										</a>
									</li>
								{% endif %}
							</ul>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<p>There is no message to display. Please write one!</p>
			{% endif %}
		</tbody>
	</table>
	
    <ul>
        <li>
            <a href="{{ path('ticket_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
