{% extends 'TicketBundle:Default:layout.html.twig' %}

{% block main %}
    <h1>Sujet : {{ ticket.subject }}</h1>
    <table>
        <tbody>
            <thead>
                <th>Id</th>
				<th>Créé à</th>
				<th>Sujet</th>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
					<th>Actions</th>
                {% endif %}
			</thead>
            <tr>
				<td>{{ ticket.id }}</td>
                <td>
                    {% if ticket.createdAt %}
                        {{ ticket.createdAt|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
				<td>{{ ticket.subject }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
				<td>
					<ul class="container-icons">
						<li>
							<a href="{{ path('ticket_update', { 'id': ticket.id }) }}">
								<i class="material-icons icon color-orange">edit</i>
							</a>
						</li>
						<li>
							<a href="{{ path('ticket_delete', { 'id': ticket.id }) }}">
								<i class="material-icons icon color-red">delete</i>
							</a>
						</li>
					</ul>
				</td>
            {% endif %}
            </tr>
        </tbody>
    </table>
	
	<div class="flex-row">
		<h1>Messages</h1>
		<a href="{{ path('message_create', {'ticketId': ticket.id}) }}">
			<i class="material-icons color-blue medium btn-add-msg">add_box</i>
		</a>
	</div>
	{% if ticket.messages is not null and ticket.messages is not empty %}
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Créé à</th>
					<th>Auteur</th>
					<th>Sujet</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for message in ticket.messages %}
					<tr>
						<td>{{ message.id }}</td>
						<td>
							{% if message.createdAt %}
								{{ message.createdAt|date('Y-m-d H:i:s') }}
							{% endif %}
						</td>
						<td>{{ message.user.username }}</td>
						<td>{{ message.content }}</td>
						<td>
							<ul class="container-icons">
								{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
									<li>
										<a href="{{ path('message_update', { 'id': message.id }) }}">
											<i class="material-icons icon color-orange">edit</i>
										</a>
									</li>
									<li>
										<a href="{{ path('message_delete', { 'id': message.id }) }}">
											<i class="material-icons icon color-red">delete</i>
										</a>
									</li>
								{% endif %}
							</ul>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>There is no message to display. Please write one!</p>
	{% endif %}
	<a href="{{ path('ticket_index') }}" class="link-back">
		<i class="material-icons color-blue">arrow_back</i>
		Back to the list
	</a>
{% endblock %}
