{% extends 'TicketBundle:Default:layout.html.twig' %}

{% block main %}
    <h1>Sujet : {{ ticket.subject }}</h1>
    <table>
        <tbody>
            <thead>
                <th>Id</th>
				<th>Created at</th>
				<th>Subject</th>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
					<th>Actions</th>
                {% endif %}
			</thead>
            <tr>
				<td>{{ ticket.id }}</td>
                <td>
                    {% if ticket.createdAt %}
                        {{ ticket.createdAt|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
				<td>{{ ticket.subject }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
				<td>
					<li>
						<a href="{{ path('ticket_update', { 'id': ticket.id }) }}">
							update
						</a>
					</li>
					<li>
						<a href="{{ path('ticket_delete', { 'id': ticket.id }) }}">
							delete
						</a>
					</li>
				</td>
            {% endif %}
            </tr>
        </tbody>
    </table>
	
	<h1>Messages</h1>
	<a href="{{ path('message_create') }}">
		<button>Créer un message</button>
	</a>
	{% if ticket.messages is not null and ticket.messages is not empty %}
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Created at</th>
					<th>Subject</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for message in ticket.messages %}
					<tr>
						<td>{{ message.id }}</td>
						<td>
							{% if message.createdAt %}
								{{ message.createdAt|date('Y-m-d H:i:s') }}
							{% endif %}
						</td>
						<td>{{ message.content }}</td>
						<td>
							<ul>
								<li>
									<a href="{{ path('message_show', { 'id': message.id }) }}">
										show
									</a>
								</li>
	
								{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
									<li>
										<a href="{{ path('message_update', { 'id': message.id }) }}">
											update
										</a>
									</li>
									<li>
										<a href="{{ path('message_delete', { 'id': message.id }) }}">
											delete
										</a>
									</li>
								{% endif %}
							</ul>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>There is no message to display. Please write one!</p>
	{% endif %}
	<ul>
        <li>
            <a href="{{ path('ticket_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
